<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolate</title>
</head>
<body>
    <h1>Pastelería Chocolate</h1>
    <img width="200" src="/assets/images/logo.png" alt="">
    <a href="index.html"><menu>Inicio</menu></a>
    <a href="menu.html"><menu>Menú</menu></a>
    <a href="pedido.html"><menu>Pedidos</menu></a>
    <h1 class="secundary_pages_starter">Pedido de Clientes</h1><br><br>
                <table class="table table_pan pastelero">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de Pan</th>
                            <th>Topping</th>
                            <th>Betún</th>
                            <th>Pisos</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Descripcion Adicional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Jose Martinez</th>
                            <td>Chocolate</td>
                            <td>Ferrero Rocher</td>
                            <td>Fondant</td>
                            <td>1</td>
                            <td>Principal SN, Tuxtla, Chis</td>
                            <td> 5555555555 </td>
                            <td>Pastel individual, con fondant color Rojo y blanco</td>
                        </tr>
                        <tr>
                            <th>Mario Morales</th>
                            <td>Chocolate y Vainilla</td>
                            <td>Crema Pastelera</td>
                            <td>Mermelada de Zarzamora</td>
                            <td>2</td>
                            <td>Principal SN, Pijijiapan, Chis</td>
                            <td> 5555555555 </td>
                            <td> Pastel con mensaje de "Feliz Aniversario 8°" </td>
                        </tr>
                        <tr>
                            <th>Marisol Gonzales</th>
                            <td>Vainilla</td>
                            <td>crema Pastelera</td>
                            <td>Fondant</td>
                            <td>1</td>
                            <td>Principal SN, Tuxtla, Chis</td>
                            <td> 5555555555 </td>
                            <td>Pastel individual, con fondant color Rojo</td>
                        </tr>
                        <tr>
                            <th>Maria Perez</th>
                            <td>Vainilla</td>
                            <td>Chocolate</td>
                            <td>Moca</td>
                            <td>1</td>
                            <td>Principal SN, Arriaga, Chis</td>
                            <td> 5555555555 </td>
                            <td> Pastel con mensaje "Te amo Mamá" </td>
                        </tr>
                    </tbody>
                </table><br><br>
                    <fieldset>
                        <legend><h2>Inventario</h2></legend>
                        <table class="table table_pan">
                            <thead>
                                <tr>
                                    <th rowspan="2">Producto</th>
                                    <th colspan="2">Restante</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th colspan="2">Sabor de Pan</th>
                                </tr>
                                <tr>
                                    <th>Chocolate</th>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <th>Vainilla</th>
                                    <td>19</td>
                                </tr>
                                <tr>
                                    <th>Zanahoria</th>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th>Chocoflan</th>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <th>Cheesecake</th>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Topping</th>
                                </tr>
                                <tr>
                                    <th>Chispas de Chocolate</th>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th>Frutas</th>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <th>Mermelada</th>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <th>Crema Pastelera</th>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th>Ferrero Rocher</th>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Betún</th>
                                </tr>
                                <tr>
                                    <th>Moka</th>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>Nutella</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>Fondant</th>
                                    <td>10</td>
                                </tr>

                            </tbody>
                        </table>
                    </fieldset>
</body>
</html>