<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolate</title>
</head>
<body>
    <h1>Pastelería Chocolate</h1>
    <img width="200" src="/assets/images/logo.png" alt="">
    <a href="index.html"><menu>Inicio</menu></a>
    <a href="menu.html"><menu>Menú</menu></a>
    <a href="pedido.html"><menu>Pedidos</menu></a>
    <h1 class="secundary_pages_starter size_h1">Crea el Pastel de tus sueños</h1><br>
                <h2>Selecciona el sabor del pan</h2>
                <div class="select_pan" id="select_pan">
                    <ul class="ul_pan" id="ul_pan"><b>
                        <input type="checkbox" name="pan-chocolate" id="pan-chocolate" value="pan-chocolate"> Pan de Chocolate........................$150.00 <br>
                        <input type="checkbox" name="pan-vainillla" id="pan-vainillla" value="pan-vainillla"> Pan de Vainilla...............................$150.00 <br>
                        <input type="checkbox" name="pan-zanahoria" id="pan-zanahoria" value="pan-zanahoria"> Pan de Zanahoria.......................$150.00 <br>
                        <input type="checkbox" name="chocoflan" id="chocoflan" value="chocoflan"> Choco Flan........................................$200.00 <br>
                        <input type="checkbox" name="cheesecake" id="cheesecake" value="cheesecake"> Cheesecake......................................$250.00 <br>
                    </ul></b>
                </div>
                <hr>
            <h2>Selecciona la Decoración</h2>
            <div class="select_topping" id="select_topping">
                <ul class="ul_topping" id="ul_topping"><b>
                    <input type="checkbox" class="topping" name="chispas-chocolate" id="chispas-chocolate" value="chispas-chocolate"> Chispas de Chocolate..................$20.00 <br>
                    <input type="checkbox" class="topping" name="mermelada-fresa" id="pmermelada-fresa" value="mermelada-fresa"> Mermelada de Fresa.....................$25.00 <br>
                    <input type="checkbox" class="topping" name="mermelada-piña" id="pmermelada-piña" value="mermelada-piña"> Mermelada de Piña.......................$30.00 <br>
                    <input type="checkbox" class="topping" name="mermelada-zarzamora" id="pmermelada-zarzamora" value="mermelada-zarzamora"> Mermelada de Zarzamora.......$35.00 <br>
                    <input type="checkbox" class="topping" name="frutas" id="frutas" value="frutas"> Frutas...........................................................$40.00 <br>
                    <input type="checkbox" class="topping" name="crema-pastelera" id="crema-pastelera" value="crema-pastelera"> Crema Pastelera................................$60.00 <br>
                    <input type="checkbox" class="topping" name="ferrero" id="ferrero" value="ferrero"> Ferrero Rocher....................................$80.00 <br>
                </ul></b>
            </div>
            <hr>
            <h2>Cobertura</h2>
            <div  class="container_betun" id="">
                <select class="selected_betun" id="betun">
                <option value="chocolate" id="">Selecciona una opción</option>
                    <optgroup label="BASICO" id="">
                        <option value="Chocolate">Chocolate.....................................$50.00</option>
                        <option value="Vainilla">Vainilla..........................................$50.00</option>
                        <option value="Crema Pastelera">Crema Pastelera..........................$60.00</option>
                        <option value="Fresa">Fresa............................................$70.00</option>
                        <option value="Durazno">Durazno........................................$70.00</option>
                        <option value="Zarzamora">Zarzamora....................................$80.00</option>
                    </optgroup>
                    <optgroup label="PREMIUM" id="">
                        <option value="moka">Moka...........................................$80.00</option>
                        <option value="nutella">Nutella.........................................$90.00</option>
                        <option value="fondant">Fondant.....................................$300.00</option>
                    </optgroup>
                </select>
            </div><br><br>
            <hr>
            <button ><b> Hacer Pedido</b></button>
</body>
</html>